tags
cscope.out
*.o
*.mod.o
*.mod.c
*.ko.cmd
*.o.cmd
.*.o.d
*.mod
*.swn
*.swo
*.swp
Module.symvers
modules.order
include.mk
include.mk.x86
include.mk.arm64
*.log

##########################################
#Kernel built object files
##########################################
*.builtin
.tmp_*
.version
.vmlinux_cmd
System.map
vmlinux
vmlinux.o
*.c.cmd
*.cmd
*.lds
*.so_dbg
*.S
*.log.old
firmware/*.S
vdso.so
vdso.so.dbg
.config.old
drivers/video/*.c
drivers/video/*.h
drivers/video/logo/*.c
drivers/video/logo/*.h
